<div class="container-fluid">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <h1>About Us</h1>

    <p>
      SSR helps improve the initial load time of an Angular application. By
      pre-rendering the HTML on the server and sending it to the client, users
      can see the content faster as they don't have to wait for the JavaScript
      to load and execute before rendering the view. This can significantly
      enhance the user experience, especially for users on slower internet
      connections or devices.
    </p>
  </div>
</div>
